{% extends 'components/base-cnt.html' %}
{% load static %}

    {% block styles %}

    {% endblock %}
    
        {% block content %}

                            	<!-- PAGE-HEADER -->
							<div class="page-header">
								<div>
									<h1 class="page-title">Cargar Evento</h1>
								</div>
								
							</div>
							<!-- PAGE-HEADER END -->


                            <div class="row">
                                <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
                                    <div class="card">
                                        <div class="card-header border-bottom">
                                            <h3 class="card-title">Seleccione </h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="example">
                                                <div class="row row-sm">
                                                    {% for message in messages %}
			          				                    <div class="col-md-12 alert alert-{{ message.tags }}" role="alert">
				          				                {{message}}
			          				                    </div>
		        				                    {% endfor %}
                                                    <form action="{% url 'cargar-evento' %}" method="POST" >
                                                        {% csrf_token %}
                                                            {% for campo in form  %}
                                                          <div class='col-lg-3 mb-3'>  
                                                            {{campo.label}}
                                                            {{campo}}
                                                            {{campo.errors}}
                                                        </div>   
                                                            {% endfor %}

                                                        {% comment "" %}
                                                        <div class="wrap-input100 validate-input" >
                                                            <div class="form-group">
                                                                <label class="form-label" for='preferenciaHorario'>Tipo Evento<span class="text-red">*</span></label>
                                                                <select class="form-control select2 form-select" name='tipoEvento' data-placeholder="Select" required>
                                                                    <option label="Select"></option>
                                                                    <option value=1></option>
                                                                    <option value="2">08:00</option>
                                                                    <option value="3">09:00</option>
                                                                    <option value="4">10:00</option>
                                                                    <option value="5">11:00</option>
                                                                    <option value="6">12:00</option>
                                                                    <option value="7">13:00</option>
                                                                    <option value="8">14:00</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 mb-3">
                                                            <label for="fechaInicio">Fecha Inicio</label>
                                                            <div class="input-group">
                                                                <div class="input-group-text bg-primary-transparent text-primary">
                                                                    <i class="fe fe-calendar text-20"></i>
                                                                </div>
                                                                <input class="form-control" id="fechaInicio" placeholder="DD/MM/YYYY" type="date" name="diaInicio" required>
                                                            </div><!-- input-group -->
                                                        </div>
                                                    
                                                        <div class="col-lg-3 mb-3">
                                                            <label for="fechaFin">Fecha Fin</label>
                                                            <div class="input-group">
                                                                <div class="input-group-text bg-primary-transparent text-primary">
                                                                    <i class="fe fe-calendar text-20"></i>
                                                                </div>
                                                                <input class="form-control" id="fechaFin" placeholder="DD/MM/YYYY" type="date" name="fin" required>
                                                            </div><!-- input-group -->
                                                        </div>
                                                      
                                                    {% endcomment %}
                                                        <div class="col-md-12 col-lg-12 col-xl-8 mb-3">
                                                            <div class="form-group mt-3">
                                                                <div>
                                                                    <button id='enviarBtn' class="btn btn-primary">Aceptar</button>
                                                                </div>
                                                            </div>
                                                        </div> 
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <!-- Row Closed -->

        {% endblock content %}

    

{% block scripts %}


<!-- Bootstrap-Date Range Picker js-->
<script src=" {% static 'assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js' %} "></script>

<!-- jQuery UI Date Picker js -->
<script src=" {% static 'assets/plugins/date-picker/jquery-ui.js' %} "></script>



<!-- bootstrap-datepicker js (Date picker Style-01) -->
<script src=" {% static 'assets/plugins/bootstrap-datepicker/js/datepicker.js' %} "></script>

<!-- Amaze UI Date Picker js-->
<script src=" {% static 'assets/plugins/amazeui-datetimepicker/js/amazeui.datetimepicker.min.js' %} "></script>

<!-- Simple Date Time Picker js-->
<script src=" {% static 'assets/plugins/jquery-simple-datetimepicker/jquery.simple-dtpicker.js' %} "></script>

<!-- FORM ELEMENTS JS -->
<script src=" {% static 'assets/js/formelementadvnced.js' %} "></script>

<!-- THEMECOLORS JS -->
<script src="{% static 'assets/js/themeColors.js'%}"></script>

{% endblock scripts %}