{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Reporte</title>
  <meta charset='UTF-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% comment %} <link href="{% static 'assets/css/reporteStyle.css'%}" rel="stylesheet" /> {% endcomment %}
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      width: 100%;
    }
    
    .container {
      margin-top: 20px;
    }
    
    .page-header {
      background-color: #59adec;
      color: white;
      padding: 20px;
      margin-bottom: 20px;
      text-align: center;
    }

    .bg-warning{
      background-color: #e7c354;
      color: black;
      margin: 0;
      padding: 0;
    }
    .bg-success{
      background-color: #13bfa6;
      color: black;
      margin: 0;
      padding: 0;
    }

    .bg-info {
      background-color: #59adec ;
      color: black;
      margin: 0;
      padding: 0;
    }

    .justify-content-between {
      justify-content: space-between;
    }
    .card-header {
      display: flex;
      flex: 1 1 auto;
      padding: 0 1rem;
    }
    .page-title {
      margin: 0;
    }

    .h-100{
      height: 60%;
    }

    .p-horizontal1rem {
      padding: auto 1rem;
    }

    .p-thick {
      font-weight: bold;
    }
    
    /* Estilos para las tablas */
    .table {
      width: 100%;
      border-collapse: collapse;
    }
    
    .table th, .table td {
      padding: 8px;
      border: 1px solid #ddd;
    }
    
    .table th {
      background-color: #007bff;
      color: white;
    }
    
    /* Estilos para las filas impares */
    .table tbody tr:nth-child(odd) {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>

<div class="container">
	<div class="page-header">
    <div>
      <h1 class="page-title">{{titulo}}</h1>
    </div>
  
  </div>
  <!-- PAGE-HEADER END -->

  <div class="row row-sm">
    <div class="col-lg-12">
      <div class="card custom-card">
        {% comment %} <div class="card-header border-bottom">
          <h3 class="card-title">Bordered Table</h3>
        </div> {% endcomment %}
        
        
          {% comment %} comienzo de tablas {% endcomment %}
          <div class="card-body ">
            <div class="card-header border-bottom justify-content-between bg-warning h-100 ">
              
                <h3 >Guardia Noche</h3>
                <h3 >0800-333-6737 Opc 1</h3>
              
           </div>
            <div class="table-responsive">
              <table class="table text-nowrap text-md-nowrap table-bordered table-striped ">
                <thead>
                  <tr>
                    
                  <th>Nombre</th>
                  <th>Telefono</th>
                  <th>Movil</th>
                  <th>Desde</th>
                  <th>Hasta</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for key,value in noche.items  %}
                  <tr>
                    {% for key,v in value.items%}
                    <td>{{v}}</td>
                    {% endfor %}
                    
                  </tr>
                  {% endfor %}
                  
                  
                  
                </tbody>
              </table>
            </div>
            <br>
            </div>
          {% comment %} separador de tablas {% endcomment %}
        <div class="card-body ">
          <div class="card-header border-bottom justify-content-between bg-success h-100 " >
          <h3 class="card-title " >Supervision</h3>
          <h3></h3>
         </div>
          <div class="table-responsive">
            <table class="table text-nowrap text-md-nowrap table-bordered table-striped ">
              <thead>
                <tr>
                  
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Movil</th>
                <th>Desde</th>
                <th>Hasta</th>
                  
                </tr>
              </thead>
              <tbody>
                {% for key,value in supervision.items  %}
                <tr>
                  {% for key,v in value.items%}
                  <td>{{v}}</td>
                  {% endfor %}
                  
                </tr>
                {% endfor %}
                
                
                
              </tbody>
            </table>
          </div>
          <br>
          </div>
          {% comment %} separador de tabla {% endcomment %}
          <div class="card-body ">
          <div class="card-header border-bottom justify-content-between bg-info h-100 ">
            <h3 >ACCESO</h3>
            <h3>0800-333-6737 Opc 1 Opc 3</h3>
            <h3>Supervisor: Leonardo Moya</h3>
          </div>
          <div class="table-responsive">
            <table class="table text-nowrap text-md-nowrap table-bordered table-striped">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Telefono</th>
                  <th>Movil</th>
                  {% for key, value in dias.items %}
                  <th>{{key}}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for key,value in acceso.items  %}
                <tr>
                  {% for key,v in value.items%}
                  <td>{{v}}</td>
                  {% endfor %}
                  
                </tr>
                {% endfor %}
                
                
                
              </tbody>
            </table>
          </div>
        <br>  
        </div>
          {% comment %} separador de tablas {% endcomment %}
          <div class="card-body ">
            <div class="card-header border-bottom justify-content-between bg-info h-100 ">
              <h3 >URBANO</h3>
              <h3>0800-333-6737 Opc 1 Opc 2</h3>
              <h3>Supervisor: Gustavo Parrado</h3>
            </div>
          <div class="table-responsive">
            <table class="table text-nowrap text-md-nowrap table-bordered table-striped ">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Telefono</th>
                  <th>Movil</th>
                  {% for key, value in dias.items %}
                  <th>{{key}}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for key,value in urbano.items  %}
                <tr>
                  {% for key,v in value.items%}
                  <td>{{v}}</td>
                  {% endfor %}
                  
                </tr>
                {% endfor %}
                
                
                
              </tbody>
            </table>
          </div>
          <br>
          </div>
          {% comment %} separador de tablas {% endcomment %}
          <div class="card-body ">
            <div class="card-header border-bottom justify-content-between bg-info h-100 ">
              <h3 >INTERURBANO</h3>
              <h3>0800-333-6737 Opc 1 Opc 1</h3>
              <h3>Supervisor: Cynthia Veron</h3>
            </div>
          <div class="table-responsive">
            <table class="table text-nowrap text-md-nowrap table-bordered table-striped ">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Telefono</th>
                  <th>Movil</th>
                  {% for key, value in dias.items %}
                  <th>{{key}}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for key,value in interurbano.items  %}
                <tr>
                  {% for key,v in value.items%}
                  <td>{{v}}</td>
                  {% endfor %}
                  
                </tr>
                {% endfor %}
                
                
                
              </tbody>
            </table>
          </div>
          <br>
          </div>

          {% comment %} separador de tablas {% endcomment %}
          <div class="card-body ">
            <div class="card-header border-bottom justify-content-between bg-info h-100 ">
              <h3 >TELLABS</h3>
              <h4>0800-333-6737 Opc 1 Opc 4 o 4333-6350</h4>
              <h4>Disponibilidad: {{dispTellabs.profesional.first_name}} {{dispTellabs.profesional.last_name}} {{dispTellabs.profesional.movil}}</h4>
              <h4>Supervision: Leonardo Moya</h4>
            </div>
          <div class="table-responsive">
            <table class="table text-nowrap text-md-nowrap table-bordered table-striped ">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Telefono</th>
                  <th>Movil</th>
                  {% for key, value in dias.items %}
                  <th>{{key}}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for key,value in tellabs.items  %}
                <tr>
                  {% for key,v in value.items%}
                  <td>{{v}}</td>
                  {% endfor %}
                  
                </tr>
                {% endfor %}
                
                
                
              </tbody>
            </table>
          </div>
          <br>
          </div>
          {% comment %} separador de tablas {% endcomment %}
          <div class="card-body ">
            <div class="card-header border-bottom justify-content-between bg-info h-100 ">
              <h3 >RADIO</h3>
              <h3>0800-333-6737 Opc 7</h3>
            </div>
          <div class="table-responsive">
            <table class="table text-nowrap text-md-nowrap table-bordered table-striped ">
              <thead>
                <tr>
                  <th>Descripción</th>
                  <th>Nombre</th>
                  <th>Telefono</th>
                  <th>Movil</th>
                  <th>Desde</th>
                  <th>Hasta</th>
                 </tr>
              </thead>
              <tbody>
                {% for key,value in radioRadio.items  %}
                <tr>
                  <td>Radio</td>
                  {% for key,v in value.items%}
                  <td>{{v}}</td>
                  {% endfor %}
                  
                </tr>
                {% endfor %}
                {% for key,value in radioGestores.items  %}
                <tr>
                  <td>Gestores</td>
                  {% for key,v in value.items%}
                  <td>{{v}}</td>
                  {% endfor %}
                  
                </tr>
                {% endfor %}
                {% for key,value in radioEscalamiento.items  %}
                <tr>
                  <td>Escalamiento</td>
                  {% for key,v in value.items%}
                  <td>{{v}}</td>
                  {% endfor %}
                  
                </tr>
                {% endfor %}
                
              </tbody>
            </table>
          </div>
          <br>
          </div>
          {% comment %} separador de tablas {% endcomment %}
          <div class="card-body ">
              <div class="card-header border-bottom justify-content-between bg-info h-100 ">
                <h3 >SINCRONISMO</h3>
                <h3 >ESCALAMIENTO : Luis Cappelletti 1144925683</h3>
              </div>
              <div class="card-body p-horizontal1rem">
            
                  <p class='p-thick'>LUNES A VIERNES: 18HS A 8 HS Y FIN DE SEMANA/FERIADOS: 24 HORAS: 11-4333-7444</p>
            
               
              
            
              </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <!-- End Row -->


  
</div>

</body>
</html>