
{% load static %}
        
							<!-- PAGE-HEADER -->
							<div class="page-header">
								<div>
									<h1 class="page-title">Horarios</h1>
								</div>
							
							</div>
							<!-- PAGE-HEADER END -->

							<!-- Row -->
							

							<!-- Row -->
							<!-- row -->
							<div class="row">
								<div class="col-lg-12 col-md-12">
									<div class="card">
										<div class="card-header border-bottom">
											<h3 class="card-title">CNT</h3>
										</div>

										

										<div class="card-body">
											{% comment %} <p class="text-muted ">The default collapse behavior to create an accordion.</p> {% endcomment %}
											
											
											<div aria-multiselectable="true" class="accordion" id="accordion" role="tablist">

												<div class="card mb-0 border-0">
													<div class="card-header border-bottom-0" id="supervisor" role="tab">
														<a aria-controls="collapseOne" aria-expanded="false" class="accordion collapsed accor-basic" data-bs-toggle="collapse" href="#collapseOne">Supervisor Guardia</a>
													</div>
													<div aria-labelledby="supervisor" class="collapse" data-bs-parent="#accordion" id="collapseOne" role="tabpanel">
														<div class="card-body br-bottom-radius-5">
															Gustavo Parrado: 11-2222-2222
														</div>
													</div><!-- collapse -->
												</div>


											<div class="card mb-0 mt-2 border-0">
													<div class="card-header border-bottom-0" id="cnt-acceso" role="tab">
														<a aria-controls="collapseFour" aria-expanded="false" data-bs-toggle="collapse" href="#collapseFour" class="accordion collapsed accor-basic">Acceso</a>
													</div>
													<div aria-labelledby="cnt-acceso" class="collapse" data-bs-parent="#accordion" id="collapseFour" role="tabpanel">
														<div class="card-body br-bottom-radius-5">
															<div class="card custom-card">
																<div class="card-header border-bottom">
																</div>
																<div class="card-body">

																	<div class="d-flex flex-row justify-content-between mb-2  border p-3 br-5">
																		<div class="p-sm-4 p-2 ">
																			<p class="text-muted">Supervisor: Leonardo Moya</p>
																		</div>
																		<div class="p-sm-4 p-2 ">
																			<p class="text-muted">0800-333-6737 Opc 1 Opc 3</p>
																		</div>
																		
																	</div>																	
																	
																	<div class="table-responsive">
																		<table class="table text-wrap text-md-nowrap table-bordered">
																			<thead>
																				<tr>
																					<th>Nombre</th>
																					<th>Telefonos</th>
																					<th>Movil</th>
																				</tr>
																			</thead>
																			<tbody>
																				
																				{% for a in acceso  %}
																				
																				<tr>
																					<td>{{a.profesional.first_name}} {{a.profesional.last_name}}</td>
																					<td>{{a.profesional.telefono}}</td>
																					<td>{{a.profesional.movil}}</td>
																				</tr>
																				
																				
																				{% endfor %}
																				
																			</tbody>
																		</table>
																	</div>
																</div>
															</div>
														</div>
													</div>
											</div>

											<div class="card mb-0 mt-2 border-0">
													<div class="card-header border-bottom-0" id="headingTwo" role="tab">
														<a aria-controls="collapseTwo" aria-expanded="false" class="accordion collapsed accor-basic" data-bs-toggle="collapse" href="#collapseTwo">Urbano</a>
													</div>
													<div aria-labelledby="headingTwo" class="collapse" data-bs-parent="#accordion" id="collapseTwo" role="tabpanel">
														<div class="card-body br-bottom-radius-5">
															<div class="card custom-card">
																<div class="card-header border-bottom">
																</div>
																<div class="card-body">
																	<div class="d-flex flex-row justify-content-between mb-2  border p-3 br-5">
																		<div class="p-sm-4 p-2 ">
																			<p class="text-muted">Supervisor: Gustavo Parrado</p>
																		</div>
																		<div class="p-sm-4 p-2 ">
																			<p class="text-muted">0800-333-6737 Opc 1 Opc 2</p>
																		</div>
																		
																	</div>		

																	<div class="table-responsive">
																		<table class="table text-nowrap text-md-nowrap table-bordered">
																			<thead>
																				<tr>
																					<th>Nombre</th>
																					<th>Horario</th>
																					<th>Telefonos</th>
																				</tr>
																			</thead>
																			<tbody>
																				{% for a in urbano  %}
																				
																				<tr>
																					<td>{{a.profesional.first_name}} {{a.profesional.last_name}}</td>
																					<td>{{a.profesional.telefono}}</td>
																					<td>{{a.profesional.movil}}</td>
																				</tr>
																				
																				
																				{% endfor %}
																			</tbody>
																		</table>
																	</div>
																</div>
															</div>
														</div>
													</div>
											</div>

											<div class="card mb-0 mt-2 border-0">
													<div class="card-header border-bottom-0" id="headingThree" role="tab">
														<a aria-controls="collapseThree" aria-expanded="false" class="accordion collapsed accor-basic" data-bs-toggle="collapse" href="#collapseThree">InterUrbano</a>
													</div>
													<div aria-labelledby="headingThree" class="collapse" data-bs-parent="#accordion" id="collapseThree" role="tabpanel">
														<div class="card-body br-bottom-radius-5">
															
															<div class="card custom-card">
																<div class="card-header border-bottom">
																</div>
																<div class="card-body">

																	<div class="d-flex flex-row justify-content-between mb-2  border p-3 br-5">
																		<div class="p-sm-4 p-2 ">
																			<p class="text-muted">Supervisor: Cynthia Veron</p>
																		</div>
																		<div class="p-sm-4 p-2 ">
																			<p class="text-muted">0800-333-6737 Opc 1 Opc 1</p>
																		</div>
																		
																	</div>																	
																	
																	<div class="table-responsive">
																		<table class="table text-wrap text-md-nowrap table-bordered">
																			<thead>
																				<tr>
																					<th>Nombre</th>
																					<th>Horario</th>
																					<th>Telefonos</th>
																				</tr>
																			</thead>
																			<tbody>
																				{% for a in interu  %}
																				
																				<tr>
																					<td>{{a.profesional.first_name}} {{a.profesional.last_name}}</td>
																					<td>{{a.profesional.telefono}}</td>
																					<td>{{a.profesional.movil}}</td>
																				</tr>
																				
																				
																				{% endfor %}
																			</tbody>
																		</table>
																	</div>
																</div>
															</div>

														</div>
													</div><!-- collapse -->
											</div>

											<div class="card mb-0 mt-2 border-0">
													<div class="card-header border-bottom-0" id="headingThree" role="tab">
														<a aria-controls="collapseFive" aria-expanded="false" class="accordion collapsed accor-basic" data-bs-toggle="collapse" href="#collapseFive">Tellabs</a>
													</div>
													<div aria-labelledby="headingThree" class="collapse" data-bs-parent="#accordion" id="collapseFive" role="tabpanel">
														<div class="card-body br-bottom-radius-5">
															<div class="card custom-card">
																<div class="card-header border-bottom">
																</div>
																<div class="card-body">

																	<div class="d-flex flex-row justify-content-between mb-2  border p-3 br-5">
																		<div class="p-sm-4 p-2 ">
																			<p class="text-muted">Supervisor: Leonardo Moya</p>
																		</div>
																		<div class="p-sm-4 p-2 ">
																			<p class="text-muted">0800-333-6737 Opc 1 Opc 4 o 4333-6350</p>
																		</div>
																		
																	</div>																	
																	
																	<div class="table-responsive">
																		<table class="table text-wrap text-md-nowrap table-bordered">
																			<thead>
																				<tr>
																					<th>Nombre</th>
																					<th>Horario</th>
																					<th>Telefonos</th>
																					<th>Notas</th>
																				</tr>
																			</thead>
																			<tbody>
																				<tr>
																					<td>Willian Guinand</td>
																					<td>8 a 15</td>
																					<td>4333-6227</td>
																					<td>Disponibilidad</td>
																				</tr>
																				<tr>
																					<td>Roberto Farinaz</td>
																					<td>23 a 7</td>
																					<td>4333-6258</td>
																					<td>Guardia Nocturna: comienza el Domingo 30 de Julio al Sabado 6 de Agosto.</td>
																				</tr>
																				<tr>
																					<td>3</td>
																					<td>Katy Perry</td>
																					<td>Data Analyst</td>
																					<td>$425,500</td>
																				</tr>
																				<tr>
																					<td>4</td>
																					<td>Pam Podrick</td>
																					<td>Python Developer</td>
																					<td>$415,900</td>
																				</tr>
																				<tr>
																					<td>5</td>
																					<td>Sandy Orell</td>
																					<td>Backed Developer</td>
																					<td>$95,900</td>
																				</tr>
																			</tbody>
																		</table>
																	</div>
																</div>
															</div>
															
														</div>
													</div><!-- collapse -->
											</div>

											<div class="card mb-0 mt-2 border-0">
													<div class="card-header border-bottom-0" id="headingThree" role="tab">
														<a aria-controls="collapseSix" aria-expanded="false" class="accordion collapsed accor-basic" data-bs-toggle="collapse" href="#collapseSix">Radio</a>
													</div>
													<div aria-labelledby="headingThree" class="collapse" data-bs-parent="#accordion" id="collapseSix" role="tabpanel">
														<div class="card-body br-bottom-radius-5">
															<div class="card custom-card">
																<div class="card-header border-bottom">
																</div>
																<div class="card-body">

																	<div class="d-flex flex-row justify-content-between mb-2  border p-3 br-5">
																		<div class="p-sm-4 p-2 ">
																			<p class="text-muted">Escalamiento: Ricardo Puertas (1156526768)</p>
																		</div>
																		<div class="p-sm-4 p-2 ">
																			<p class="text-muted">0800-333-6737 Opc 7</p>
																		</div>
																		
																	</div>																	
																	
																	<div class="table-responsive">
																		<table class="table text-wrap text-md-nowrap table-bordered">
																			<thead>
																				<tr>
																					<th>Nombre</th>
																					<th>Horario</th>
																					<th>Telefonos</th>
																					<th>Notas</th>
																				</tr>
																			</thead>
																			<tbody>
																				<tr>
																					<td>Willian Guinand</td>
																					<td>8 a 15</td>
																					<td>4333-6227</td>
																					<td>Disponibilidad</td>
																				</tr>
																				<tr>
																					<td>Roberto Farinaz</td>
																					<td>23 a 7</td>
																					<td>4333-6258</td>
																					<td>Guardia Nocturna: comienza el Domingo 30 de Julio al Sabado 6 de Agosto.</td>
																				</tr>
																				<tr>
																					<td>3</td>
																					<td>Katy Perry</td>
																					<td>Data Analyst</td>
																					<td>$425,500</td>
																				</tr>
																				<tr>
																					<td>4</td>
																					<td>Pam Podrick</td>
																					<td>Python Developer</td>
																					<td>$415,900</td>
																				</tr>
																				<tr>
																					<td>5</td>
																					<td>Sandy Orell</td>
																					<td>Backed Developer</td>
																					<td>$95,900</td>
																				</tr>
																			</tbody>
																		</table>
																	</div>
																</div>
															</div>
															
														</div>
													</div><!-- collapse -->
											</div>

											<div class="card mt-2 border-5">
													<div class="card-header border-bottom-0" id="headingThree" role="tab">
														<a aria-controls="collapseSeven" aria-expanded="false" class="accordion collapsed accor-basic" data-bs-toggle="collapse" href="#collapseSeven">Operaciones Sincronismo</a>
													</div>
													<div aria-labelledby="headingThree" class="collapse" data-bs-parent="#accordion" id="collapseSeven" role="tabpanel">
														<div class="card-body br-bottom-radius-5">
															<div class="card custom-card">
																<div class="card-header border-bottom">
																</div>
																<div class="card-body">

																	<div class="d-flex flex-row justify-content-between mb-2  border p-3 br-5">
																		<div class="p-sm-4 p-2 ">
																			<p class="text-muted">Escalamiento: Luis Cappelletti (1144925683)</p>
																		</div>
																		<div class="p-sm-4 p-2 ">
																			<p class="text-muted"></p>
																		</div>
																		
																	</div>																	
																	
																	<div class="table-responsive">
																		<table class="table text-wrap text-md-nowrap table-bordered">
																			<thead>
																				<tr>
																					<th>Nombre</th>
																					<th>Horario</th>
																					<th>Telefonos</th>
																					<th>Notas</th>
																				</tr>
																			</thead>
																			<tbody>
																				<tr>
																					<td>Willian Guinand</td>
																					<td>8 a 15</td>
																					<td>4333-6227</td>
																					<td>Disponibilidad</td>
																				</tr>
																				<tr>
																					<td>Roberto Farinaz</td>
																					<td>23 a 7</td>
																					<td>4333-6258</td>
																					<td>Guardia Nocturna: comienza el Domingo 30 de Julio al Sabado 6 de Agosto.</td>
																				</tr>
																				<tr>
																					<td>3</td>
																					<td>Katy Perry</td>
																					<td>Data Analyst</td>
																					<td>$425,500</td>
																				</tr>
																				<tr>
																					<td>4</td>
																					<td>Pam Podrick</td>
																					<td>Python Developer</td>
																					<td>$415,900</td>
																				</tr>
																				<tr>
																					<td>5</td>
																					<td>Sandy Orell</td>
																					<td>Backed Developer</td>
																					<td>$95,900</td>
																				</tr>
																			</tbody>
																		</table>
																	</div>
																</div>
															</div>
														</div>
													</div><!-- collapse -->
											</div>
												
												
											{% comment %} </div><!-- accordion --> {% endcomment %}
										</div>
									</div>
								</div>
							</div>


							
							<!-- End Row -->

 
