
{% load static %}
        
							<!-- PAGE-HEADER -->
							<div class="page-header">
								<div>
									<h1 class="page-title">Horarios</h1>
								</div>
							
							</div>
							<!-- PAGE-HEADER END -->

							<!-- Row -->
							

							<!-- Row -->
							<!-- row -->
							<div class="row">
								<div class="col-lg-12 col-md-12">
									<div class="card">
										<div class="card-header border-bottom">
											<h3 class="card-title">CNT</h3>
										</div>

										<div class="card-body">
											{% comment %} <p class="text-muted ">The default collapse behavior to create an accordion.</p> {% endcomment %}
											
											
												
													
														
														
															
															<div class="example">
																<div class="d-sm-flex">
																	<div class="panel panel-primary tabs-style-4">
																		<div class="tab-menu-heading border br-5 me-3 my-2">
																			<div class="tabs-menu">
																				<!-- Tabs -->
																				<ul class="nav panel-tabs flex-column">
																					<li><a href="#sup" class="active text-default vertical-tabs mb-2" data-bs-toggle="tab">Supervisión</a></li>
																					<li><a href="#noche" class="text-default vertical-tabs mb-2" data-bs-toggle="tab"> Guardia Noche</a></li>
																					<li><a href="#tabAcceso" class="text-default vertical-tabs mb-2" data-bs-toggle="tab"> Acceso</a></li>
																					<li><a href="#tabUrbano" class="text-default vertical-tabs mb-2" data-bs-toggle="tab"> Urbano</a></li>
																					<li><a href="#tabInterubano" class="text-default vertical-tabs mb-2" data-bs-toggle="tab"> Interurbano</a></li>
																					<li><a href="#tabTellabs" class="text-default vertical-tabs mb-2" data-bs-toggle="tab"> Tellabs</a></li>
																					<li><a href="#tabRadio" class="text-default vertical-tabs mb-2" data-bs-toggle="tab"> Radio</a></li>
																					<li><a href="#tabSincro" class="text-default vertical-tabs mb-2" data-bs-toggle="tab"> Op. Sincronismo</a></li>
																				</ul>
																			</div>
																		</div>
																	</div>
																	<div class="tabs-style-4 flex-2 border br-5">
																		<div class="panel-body tabs-menu-body border-0">
																			<div class="tab-content">
																				
																				<div class="tab-pane active" id="sup">
																					<div class="table-responsive">
																						<table class="table text-wrap text-md-nowrap table-bordered">
																							<thead>
																								<tr>
																									<th>Nombre</th>
																									<th>Telefono</th>
																									<th>Desde</th>
																									<th>Hasta</th>
																								</tr>
																							</thead>
																							<tbody>
																								{% for d in disp %}
																								<tr>
																									<td>{{d.profesional.first_name}} {{d.profesional.last_name}}</td>
																									<td>{{d.profesional.movil}}</td>
																									<td>{{d.diaInicio}}</td>
																									<td>{{d.diaFin}}</td>
																								</tr>
																								{% endfor %}
																							</tbody>
																						</table>
																					
																					</div>
																					
																					
																				</div>
																				<div class="tab-pane" id="noche">
																					<div class="table-responsive">
																						<table class="table text-wrap text-md-nowrap table-bordered">
																							<p>Entre las 23:00 y las 07:00</p>
																							<thead>
																								<tr>
																									<th>Nombre</th>
																									<th>Telefono</th>
																									<th>Desde</th>
																									<th>Hasta</th>
																								</tr>
																							</thead>
																							<tbody>
																								{% for d in noche %}
																								<tr>
																									<td>{{d.profesional.first_name}} {{d.profesional.last_name}}</td>
																									<td>{{d.profesional.movil}}</td>
																									<td>{{d.diaInicio}}</td>
																									<td>{{d.diaFin}}</td>
																								</tr>
																								{% endfor %}
																							</tbody>
																						</table>
																					
																					</div>
																					
																				</div>
																				<div class="tab-pane" id="tabAcceso">

																					<div class="d-flex flex-row justify-content-between mb-2  border p-3 br-5">
																						<div class="p-sm-4 p-2 ">
																							<p class="text-muted">Supervisor: Leonardo Moya</p>
																						</div>
																						<div class="p-sm-4 p-2 ">
																							<p class="text-muted">0800-333-6737 Opc 1 Opc 3</p>
																						</div>
																						
																					</div>		

																					<div class="table-responsive">
																						<table class="table text-wrap text-md-nowrap table-bordered">
																							<thead>
																								<tr>
																									<th>Nombre</th>
																									<th>Telefonos</th>
																									<th>Movil</th>
																								</tr>
																							</thead>
																							<tbody>
																								
																								{% for a in acceso  %}
																								
																								<tr>
																									<td>{{a.profesional.first_name}} {{a.profesional.last_name}}</td>
																									<td>{{a.profesional.telefono}}</td>
																									<td>{{a.profesional.movil}}</td>
																								</tr>
																								
																								
																								{% endfor %}
																								
																							</tbody>
																						</table>
																					</div>

																				</div>
																				<div class="tab-pane" id="tabUrbano">
																					<div class="d-flex flex-row justify-content-between mb-2  border p-3 br-5">
																						<div class="p-sm-4 p-2 ">
																							<p class="text-muted">Supervisor: Gustavo Parrado</p>
																						</div>
																						<div class="p-sm-4 p-2 ">
																							<p class="text-muted">0800-333-6737 Opc 1 Opc 2</p>
																						</div>
																						
																					</div>		
				
																					<div class="table-responsive">
																						<table class="table text-nowrap text-md-nowrap table-bordered">
																							<thead>
																								<tr>
																									<th>Nombre</th>
																									<th>Horario</th>
																									<th>Telefonos</th>
																								</tr>
																							</thead>
																							<tbody>
																								{% for a in urbano  %}
																								
																								<tr>
																									<td>{{a.profesional.first_name}} {{a.profesional.last_name}}</td>
																									<td>{{a.profesional.telefono}}</td>
																									<td>{{a.profesional.movil}}</td>
																								</tr>
																								
																								
																								{% endfor %}
																							</tbody>
																						</table>
																					</div>	
																				</div>
																				<div class="tab-pane" id="tabInterubano">
																					<div class="d-flex flex-row justify-content-between mb-2  border p-3 br-5">
																						<div class="p-sm-4 p-2 ">
																							<p class="text-muted">Supervisor: Cynthia Veron</p>
																						</div>
																						<div class="p-sm-4 p-2 ">
																							<p class="text-muted">0800-333-6737 Opc 1 Opc 1</p>
																						</div>
																						
																					</div>																	
																					
																					<div class="table-responsive">
																						<table class="table text-wrap text-md-nowrap table-bordered">
																							<thead>
																								<tr>
																									<th>Nombre</th>
																									<th>Horario</th>
																									<th>Telefonos</th>
																								</tr>
																							</thead>
																							<tbody>
																								{% for a in interu  %}
																								
																								<tr>
																									<td>{{a.profesional.first_name}} {{a.profesional.last_name}}</td>
																									<td>{{a.profesional.telefono}}</td>
																									<td>{{a.profesional.movil}}</td>
																								</tr>
																								
																								
																								{% endfor %}
																							</tbody>
																						</table>
																					</div>
																				</div>
																				<div class="tab-pane" id="tabTellabs">
																					<p>Cupiditate non provident voluptatum deleniti atque corrupti quos dolores et quas praesentium voluptatum delenitiof pleasure of the moment, so blinded by desire quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
																					<p>Cupiditate non provident voluptatum deleniti atque corrupti quos dolores et quas praesentium voluptatum deleniti of pleasure of the moment, so blinded by desire quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
																					<p class="mb-0">Cupiditate non provident voluptatum deleniti atque corrupti quos dolores et quas praesentium voluptatum deleniti facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus </p>
																				</div>
																				<div class="tab-pane" id="tabRadio">
																					<p>Cupiditate non provident voluptatum deleniti atque corrupti quos dolores et quas praesentium voluptatum delenitiof pleasure of the moment, so blinded by desire quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
																					<p>Cupiditate non provident voluptatum deleniti atque corrupti quos dolores et quas praesentium voluptatum deleniti of pleasure of the moment, so blinded by desire quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
																					<p class="mb-0">Cupiditate non provident voluptatum deleniti atque corrupti quos dolores et quas praesentium voluptatum deleniti facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus </p>
																				</div>
																				<div class="tab-pane" id="tabSincro">
																					<p>Cupiditate non provident voluptatum deleniti atque corrupti quos dolores et quas praesentium voluptatum delenitiof pleasure of the moment, so blinded by desire quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
																					<p>Cupiditate non provident voluptatum deleniti atque corrupti quos dolores et quas praesentium voluptatum deleniti of pleasure of the moment, so blinded by desire quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
																					<p class="mb-0">Cupiditate non provident voluptatum deleniti atque corrupti quos dolores et quas praesentium voluptatum deleniti facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus </p>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														
													
											
										
											<!-- ROW-3 CLOSED -->
				
												
											{% comment %} estos 3 /div quedan abajo {% endcomment %}
									</div>
								</div>
								
							</div>


							
							<!-- End Row -->

 
