
{% load static %}
        
							<!-- PAGE-HEADER -->
							<div class="page-header">
								<div>
									<h1 class="page-title">Horarios</h1>
								</div>
							
							</div>
							<!-- PAGE-HEADER END -->

							<!-- Row -->
							

							<!-- Row -->
							<!-- row -->
							<div class="row">
								<div class="col-lg-12 col-md-12">
									<div class="card">
										<div class="card-header border-bottom justify-content-between">
											<h3 class="card-title">CNT</h3>
											{% if request.user.is_supervisor %}
												<a href="{% url "reportes-form"  %}" class='btn btn-danger'>Generar PDF</a>
											{% endif %}
										</div>

										{% comment %} <div class="card-body"> {% endcomment %}
											{% comment %} <p class=" ">The default collapse behavior to create an accordion.</p> {% endcomment %}
											
											
												
													
														
														
															
															<div class="example">
																<div class="d-sm-flex">
																	<div class="panel panel-primary tabs-style-4">
																		<div class="tab-menu-heading border br-5 me-3 my-2">
																			<div class="tabs-menu">
																				<!-- Tabs -->
																				<ul class="nav panel-tabs flex-column">
																					<li><a href="#sup" class="active text-default vertical-tabs mb-2" data-bs-toggle="tab">Supervisión</a></li>
																					<li><a href="#noche" class="text-default vertical-tabs mb-2" data-bs-toggle="tab"> Guardia Noche</a></li>
																					<li><a href="#tabAcceso" class="text-default vertical-tabs mb-2" data-bs-toggle="tab"> Acceso</a></li>
																					<li><a href="#tabUrbano" class="text-default vertical-tabs mb-2" data-bs-toggle="tab"> Urbano</a></li>
																					<li><a href="#tabInterubano" class="text-default vertical-tabs mb-2" data-bs-toggle="tab"> Interurbano</a></li>
																					<li><a href="#tabTellabs" class="text-default vertical-tabs mb-2" data-bs-toggle="tab"> Tellabs</a></li>
																					<li><a href="#tabRadio" class="text-default vertical-tabs mb-2" data-bs-toggle="tab"> Radio</a></li>
																					<li><a href="#tabSincro" class="text-default vertical-tabs mb-2" data-bs-toggle="tab"> Op. Sincronismo</a></li>
																				</ul>
																			</div>
																		</div>
																	</div>
																	<div class="tabs-style-4 flex-2 border br-5">
																		<div class="panel-body tabs-menu-body border-0">
																			<div class="tab-content">
																				
																				<div class="tab-pane active" id="sup">
																					{% include 'publica/ntda.html' with var=disp subtitulo="" %}
																					
																				</div>
																				<div class="tab-pane" id="noche">
																					<div class="table-responsive">
																						{% include 'publica/ntda.html' with var=noche subtitulo="Entre las 23:00 y las 07:00" %}
																					
																					</div>
																					
																				</div>
																				<div class="tab-pane" id="tabAcceso">

																					<div class="d-flex flex-row justify-content-between mb-2  border p-3 br-5">
																						<div class="p-sm-4 p-2 ">
																							<p class=""><span class="text-bold">Supervisor:</span> Leonardo Moya</p>
																						</div>
																						<div class="p-sm-4 p-2 ">
																							<p class="">0800-333-6737 Opc 1 Opc 3</p>
																						</div>
																						
																					</div>		

																					<div class="table-responsive">
																						
																						{% include 'publica/ntm.html' with var=acceso %}
																					</div>

																				</div>

																				<div class="tab-pane" id="tabUrbano">
																					<div class="d-flex flex-row justify-content-between mb-2  border p-3 br-5">
																						<div class="p-sm-4 p-2 ">
																							<p class=""><span class="text-bold">Supervisor:</span> Gustavo Parrado</p>
																						</div>
																						<div class="p-sm-4 p-2 ">
																							<p class="">0800-333-6737 Opc 1 Opc 2</p>
																						</div>
																						
																					</div>		
				
																					<div class="table-responsive">
																						
																						{% include 'publica/ntm.html' with var=urbano %}

																					</div>	
																				</div>

																				<div class="tab-pane" id="tabInterubano">
																					<div class="d-flex flex-row justify-content-between mb-2  border p-3 br-5">
																						<div class="p-sm-4 p-2 ">
																							<p class=""><span class="text-bold">Supervisor:</span> Cynthia Veron</p>
																						</div>
																						<div class="p-sm-4 p-2 ">
																							<p class="">0800-333-6737 Opc 1 Opc 1</p>
																						</div>
																						
																					</div>																	
																					
																					<div class="table-responsive">
																						{% include 'publica/ntm.html' with var=interu %}
																						</table>
																					</div>
																				</div>
																				
																				<div class="tab-pane" id="tabTellabs">
																					<div class="d-flex flex-row justify-content-between mb-2  border p-3 br-5">
																						<div class="p-sm-4 p-2 ">
																							<p class=""><span class="text-bold">Supervisor:</span> Leonardo Moya</p>
																						</div>
																						<div class="p-sm-4 p-2 ">
																							<p class="">0800-333-6737 Opc 1 Opc 4</p>
																						</div>
																						<div class="p-sm-4 p-2 ">
																							<p class=""><spann class="text-bold">Disponibilidad: </spann>{{eTellabs.profesional.first_name}} {{eTellabs.profesional.last_name}} {{eTellabs.profesional.movil}}</p>
																						</div>
																						
																					</div>																	
																					
																					<div class="table-responsive">
																						{% include 'publica/ntm.html' with var=tellabs %}
																					</div>
																				</div>
																				<div class="tab-pane" id="tabRadio">
																					<div class="d-flex flex-row justify-content-between mb-2  border p-3 br-5">
																						<div class="p-sm-4 p-2 ">
																							<p class="text-bold">Lunes a Viernes de 8 a 18 hs deben llamar al 0800- 3336737 Opción 7. Fuera de ese horario, llamar a : </p>
																						</div>
																					</div>																	
																					
																					<div class="table-responsive">
																						<table class="table text-wrap text-md-nowrap table-bordered">
																							<thead>
																								<tr>
																									<th >Descripción</th>
																									<th>Nombre</th>
																									<th>Teléfono</th>
																									<th>Móvil</th>
																									<th>Desde</th>
																									<th>Hasta</th>
																								</tr>
																							</thead>
																							<tbody>
																								{% for a in radioRadio  %}
																								
																								<tr>
																									<td class="text-bold">Radios</td>
																									{% include 'publica/ntmif.html' %}																						
																									

																								</tr>
																								
																								
																								{% endfor %}

																								{% for a in radioGestores  %}

																								<tr>
																									<td class="text-bold">Gestores</td>
																									{% include 'publica/ntmif.html' %}
																								</tr>
																								
																								{% endfor %}

																								{% for a in radioEscalamiento  %}

																								<tr>
																									<td class="text-bold">Escalamiento</td>
																									{% include 'publica/ntmif.html' %}
																								</tr>
																								
																								{% endfor %}

																							</tbody>
																						</table>
																					</div>	
																				</div>
																				<div class="tab-pane" id="tabSincro">
																					<div class="d-flex flex-row justify-content-between mb-2  border p-3 br-5">
																						<div class="p-sm-4 p-2 ">
																							<p class=""><span class="text-bold">Supervisor:</span> Luis Capelleti</p>
																						</div>
																						<div class="p-sm-4 p-2 ">
																							<p class="">11-4333-7444</p>
																						</div>
																						
																					</div>																	
																					
																					<div class="table-responsive">
																						{% include 'publica/ntm.html' with var=sincro %}
																					</div>	
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
										{% comment %} </div> {% endcomment %}
														
													
											
										
											<!-- ROW-3 CLOSED -->
				
												
											{% comment %} estos 3 /div quedan abajo {% endcomment %}
									</div>
								</div>
								
							</div>


							
							<!-- End Row -->

 
