{% extends 'components/custom-base-cnt.html' %}
{% load static %}

    {% block styles %}

    {% endblock %}
    
        {% block content %}
        
			<!-- PAGE -->
			<div class="page bg-info">
				<div>
				    <!-- CONTAINER OPEN -->
				
					<div class="container-login100">
						<div class="wrap-login100 p-0">
							<div class="card-body">
								{% for message in messages %}
								<div class="col-md-12 alert alert-{{ message.tags }}" role="alert">
									{{message}}
								</div>
						  		{% endfor %}

								<form class="login100-form validate-form" method='POST' action='{% url 'cambiar_password' %}'>
									{% csrf_token %}
									<span class="login100-form-title">
										Cambiar Password
									</span>
									
                                    {{ form.as_p }}

                                    <button type="submit" class='btn btn-primary'>Save changes</button>
								</form>
							</div>
							
						</div>
					</div>
					<!-- CONTAINER CLOSED -->
				</div>
			</div>
			<!-- END PAGE -->

        {% endblock %}

    {% block scripts %}

    {% endblock %}

