{% extends 'components/custom-base-cnt.html' %}
{% load static %}

    {% block styles %}

    {% endblock %}
    
        {% block content %}
        
			<!-- PAGE -->
			<div class="page bg-info">
				<div>
				    <!-- CONTAINER OPEN -->
				
					<div class="container-login100">
						<div class="wrap-login100 p-0">
							<div class="card-body">
								<span class="login100-form-title">
									Editar Perfil: {{request.user.username}}
								</span>
								{% for message in messages %}
								<div class="col-md-12 alert alert-{{ message.tags }}" role="alert">
									{{message}}
								</div>
						  		{% endfor %}

								<form class="login100-form validate-form" method='POST' action='{% url 'editar_perfil' %}'>
									{% csrf_token %}
									

                                    {{ form.as_p }}
									


									<div class="container-login100-form-btn">
										<button type='submit' class="login100-form-btn btn-info">
											Guardar
										</button>
									</div>
									
								</form>
							</div>
							
						</div>
					</div>
					<!-- CONTAINER CLOSED -->
				</div>
			</div>
			<!-- END PAGE -->

        {% endblock %}

    {% block scripts %}

    {% endblock %}

