{% extends 'components/base-cnt.html' %}
{% load static %}

    {% block styles %}

    {% endblock %}
    
        {% block content %}
        
							<!-- PAGE-HEADER -->
							<div class="page-header">
								<div>
									<h1 class="page-title">Perfil</h1>
								</div>
								{% comment %} <div class="ms-auto pageheader-btn">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="javascript:void(0);">Pages</a></li>
										<li class="breadcrumb-item active" aria-current="page">Profile</li>
									</ol>
								</div> {% endcomment %}
							</div>
							<!-- PAGE-HEADER END -->

							<!-- ROW-1 OPEN -->
							<div class="row" id="user-profile">
								<div class="col-lg-12">
									
									<div class="tab-content">
										<div class="tab-pane active show" id="profileMain">
											<div class="card">
												<div class="card-body p-0">
													
													<div class="table-responsive p-5">
														<h3 class="card-title">Informacion Personal</h3>
														<table class="table row table-borderless">
															<tbody class="col-lg-12 col-xl-6 p-0">
																{% if usuario.is_supervisor %}

																<tr>
																	<td><strong>Supervisor</strong></td>
																</tr>
																
																{% endif %}
																

																<tr>
																	<td><strong>Nombre : </strong>{{usuario.first_name}} {{usuario.last_name}}</td>
																</tr>
																<tr>
																	<td><strong>Email : </strong> {{usuario.email}}</td>
																</tr>
																<tr>
																	<td>
																	<div class="main-profile-contact-list">
																		<div class="media mx-2">
																			<div class="media-icon bg-primary-transparent text-primary"> <i class="fe fe-phone fs-21"></i> </div>
																			<div class="media-body ms-2">
																				<span class="text-muted">Interno :</span>
																				<p class="mb-0"> {{usuario.telefono}} </p>
																			</div>
																		</div>
																	</div>
																	
																</td>
																</tr>
																<tr>
																	<td>
																		<div class="main-profile-contact-list">
																			<div class="media mx-2">
																				<div class="media-icon bg-primary-transparent text-primary"> <i class="fe fe-phone fs-21"></i> </div>
																				<div class="media-body ms-2">
																					<span class="text-muted">Movil :</span>
																					<p class="mb-0"> {{usuario.movil}} </p>
																				</div>
																			</div>
																		</div>
																		
																	</td>
																</tr>
															</tbody>
															
														</table>
													</div>
													<div class="border-top"></div>
													<div class="p-5">
														<h3 class="card-title">CNT</h3>
														<div class="profile-cover__info ms-4 ms-auto p-0">
															
															<ul class="nav p-0 border-bottom-0 mb-0">
																{% for cnt in cnts %}
																<li class="border p-2 br-5 bg-light-lightest wpx-100 hpx-70 text-center m-1 ">
																
																	
																	<span class="border-0 mb-0 pb-0 fs-21 ml-2">{{cnt.cnt}}</span>
																	
																</li>
																{% endfor %}
															</ul>
														</div>
													</div>

													{% comment %} <div class="border-top"></div>
													<div class="p-5">
														<h3 class="card-title">Contact</h3>
														<div class="d-sm-flex">
															<div>
																<div class="main-profile-contact-list">
																	<div class="media mx-2">
																		<div class="media-icon bg-primary-transparent text-primary"> <i class="fe fe-phone fs-21"></i> </div>
																		<div class="media-body ms-2">
																			<span class="text-muted">Mobile</span>
																			<p class="mb-0"> +245 354 654 </p>
																		</div>
																	</div>
																</div>
															</div>
															<div>
																<div class="main-profile-contact-list">
																	<div class="media mx-2">
																		<div class="media-icon bg-success-transparent text-success"> <i class="fe fe-slack fs-21"></i> </div>
																		<div class="media-body ms-2">
																			<span class="text-muted">Slack</span>
																			<p class="mb-0"> @spruko.w </p>
																		</div>
																	</div>
																</div>
															</div>
															<div>
																<div class="main-profile-contact-list">
																	<div class="media mx-2">
																		<div class="media-icon bg-info-transparent text-info"> <i class="fe fe-map-pin fs-21"></i> </div>
																		<div class="media-body ms-2">
																			<span class="text-muted">Current Address</span>
																			<p class="mb-0"> San Francisco, CA </p>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="border-top"></div>
													<div class="p-5">
														<h3 class="card-title">Social</h3>
														<div class="d-md-flex">
															<div>
																<div class="main-profile-contact-list">
																	<div class="media mx-2">
																		<div class="media-icon bg-primary-transparent text-primary"> <i class="fe fe-github fs-21"></i> </div>
																		<div class="media-body ms-2">
																			<span class="text-muted">Github</span>
																			<p class="mb-0"> <a href="javascript:void(0)" class="text-default">github.com/spruko</a> </p>
																		</div>
																	</div>
																</div>
															</div>
															<div>
																<div class="main-profile-contact-list">
																	<div class="media mx-2">
																		<div class="media-icon bg-success-transparent text-success"> <i class="fe fe-twitter fs-21"></i> </div>
																		<div class="media-body ms-2">
																			<span class="text-muted">Twitter</span>
																			<p class="mb-0"> <a href="javascript:void(0)" class="text-default">twitter.com/spruko.me</a> </p>
																		</div>
																	</div>
																</div>
															</div>
															<div>
																<div class="main-profile-contact-list">
																	<div class="media mx-2">
																		<div class="media-icon bg-info-transparent text-info"> <i class="fe fe-linkedin fs-21"></i> </div>
																		<div class="media-body ms-2">
																			<span class="text-muted">Linkedin</span>
																			<p class="mb-0"> <a href="javascript:void(0)" class="text-default">linkedin.com/in/spruko</a> </p>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div> {% endcomment %}
												</div>
											</div>
										</div>
										{% comment %} <div class="tab-pane" id="editProfile">
											<div class="card">
												<div class="card-body border-0">
													<form class="form-horizontal">
														<div class="row mb-4">
															<p class="mb-4 text-17">Personal Info</p>
															<div class="col-md-12 col-lg-12 col-xl-6">
																<div class="form-group">
																	<label for="username" class="form-label">User Name</label>
																	<input type="text" class="form-control" id="username" value="Elena Gilbert">
																</div>
															</div>
															<div class="col-md-12 col-lg-12 col-xl-6">
																<div class="form-group">
																	<label for="firstname" class="form-label">First Name</label>
																	<input type="text" class="form-control" id="firstname" placeholder="First Name" value="Elena">
																</div>
															</div>
															<div class="col-md-12 col-lg-12 col-xl-6">
																<div class="form-group">
																	<label for="lastname" class="form-label">last Name</label>
																	<input type="text" class="form-control" id="lastname" placeholder="Last Name" value="Gilbert">
																</div>
															</div>
															<div class="col-md-12 col-lg-12 col-xl-6">
																<div class="form-group">
																	<label for="nickname" class="form-label">Nick Name</label>
																	<input type="text" class="form-control" id="nickname" placeholder="Nick Name" value="Noa">
																</div>
															</div>
															<div class="col-md-12 col-lg-12 col-xl-6">
																<div class="form-group">
																	<label for="designation" class="form-label">Designation</label>
																	<input type="text" class="form-control" id="designation" placeholder="Designation" value="Web Designer">
																</div>
															</div>
														</div>
														<p class="mb-4 text-17">Contact Info</p>
														<div class="form-group">
															<div class="row row-sm">
																<div class="col-md-3">
																	<label for="email" class="form-label">Email</label>
																</div>
																<div class="col-md-9">
																	<input type="text" class="form-control" id="email" placeholder="Email" value="info@noa.in">
																</div>
															</div>
														</div>
														<div class="form-group ">
															<div class="row row-sm">
																<div class="col-md-3">
																	<label for="website" class="form-label">Website</label>
																</div>
																<div class="col-md-9">
																	<input type="text" class="form-control" id="website" placeholder="Website" value="@spruko.w">
																</div>
															</div>
														</div>
														<div class="form-group ">
															<div class="row row-sm">
																<div class="col-md-3">
																	<label for="phoneNumber" class="form-label">Phone</label>
																</div>
																<div class="col-md-9">
																	<input type="text" class="form-control" id="phoneNumber" placeholder="phone number" value="+145 541 773">
																</div>
															</div>
														</div>
														<div class="form-group ">
															<div class="row row-sm">
																<div class="col-md-3">
																	<label for="address" class="form-label">Address</label>
																</div>
																<div class="col-md-9">
																	<textarea class="form-control" id="address" name="example-textarea-input" rows="2" placeholder="Address">San Francisco, CA</textarea>
																</div>
															</div>
														</div>
														<p class="mb-4 text-17">Social Info</p>
														<div class="form-group ">
															<div class="row row-sm">
																<div class="col-md-3">
																	<label for="twitter" class="form-label">Twitter</label>
																</div>
																<div class="col-md-9">
																	<input type="text" class="form-control" id="twitter" placeholder="twitter" value="twitter.com/spruko.me">
																</div>
															</div>
														</div>
														<div class="form-group ">
															<div class="row row-sm">
																<div class="col-md-3">
																	<label for="facebook" class="form-label">Facebook</label>
																</div>
																<div class="col-md-9">
																	<input type="text" class="form-control" id="facebook" placeholder="facebook" value="https://www.facebook.com/Noa">
																</div>
															</div>
														</div>
														<div class="form-group ">
															<div class="row row-sm">
																<div class="col-md-3">
																	<label for="googlePlus" class="form-label">Google+</label>
																</div>
																<div class="col-md-9">
																	<input type="text" class="form-control" id="googlePlus" placeholder="google" value="spruko.com">
																</div>
															</div>
														</div>
														<div class="form-group ">
															<div class="row row-sm">
																<div class="col-md-3">
																	<label for="linkedin" class="form-label">Linkedin</label>
																</div>
																<div class="col-md-9">
																	<input type="text" class="form-control" id="linkedin" placeholder="linkedin" value="linkedin.com/in/spruko">
																</div>
															</div>
														</div>
														<div class="form-group ">
															<div class="row row-sm">
																<div class="col-md-3">
																	<label for="github" class="form-label">Github</label>
																</div>
																<div class="col-md-9">
																	<input type="text" class="form-control" id="github" placeholder="github" value="github.com/sprukos">
																</div>
															</div>
														</div>
														<p class="mb-4 text-17">About Yourself</p>
														<div class="form-group ">
															<div class="row row-sm">
																<div class="col-md-3">
																	<label for="biographicalInfo" class="form-label">Biographical Info</label>
																</div>
																<div class="col-md-9">
																	<textarea class="form-control" name="example-textarea-input" id="biographicalInfo" rows="4" placeholder="">pleasure rationally encounter but because pursue consequences that are extremely painful.occur in which toil and pain can procure him some great pleasure..</textarea>
																</div>
															</div>
														</div>
														<p class="mb-4 text-17">Email Preferences</p>
														<div class="form-group mb-0">
															<div class="row row-sm">
																<div class="col-md-3">
																	<label class="form-label">Verified User</label>
																</div>
																<div class="col-md-9">
																	<div class="custom-controls-stacked">
																		<label class="ckbox"><input type="checkbox" checked><span> Accept to receive post or page notification emails</span></label>
																		<label class="ckbox"><input type="checkbox" checked><span> Accept to receive email sent to multiple recipients</span></label>
																	</div>
																</div>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div> {% endcomment %}
										
									</div>
								</div><!-- COL-END -->
							</div>
							<!-- ROW-1 CLOSED -->

        {% endblock %}

    {% block scripts %}

		<!-- INTERNAL GALLERY JS -->
		<script src=" {% static 'assets/plugins/gallery/picturefill.js' %} "></script>
        <script src=" {% static 'assets/plugins/gallery/lightgallery.js' %} "></script>
        <script src=" {% static 'assets/plugins/gallery/lg-pager.js' %} "></script>
        <script src=" {% static 'assets/plugins/gallery/lg-autoplay.js' %} "></script>
        <script src=" {% static 'assets/plugins/gallery/lg-fullscreen.js' %} "></script>
        <script src=" {% static 'assets/plugins/gallery/lg-zoom.js' %} "></script>
        <script src=" {% static 'assets/plugins/gallery/lg-hash.js' %} "></script>
        <script src=" {% static 'assets/plugins/gallery/lg-share.js' %} "></script>
		<script src=" {% static 'assets/plugins/gallery/lightgallery-1.js' %} "></script>

		<!-- PROFILE JS -->
		<script src=" {% static 'assets/js/profile.js' %} "></script>

        <!-- THEMECOLORS JS -->
        <script src="{% static 'assets/js/themeColors.js'%}"></script>

    {% endblock %}



